*{
  margin: 0%;
  padding: 0;
}
body{
  margin: 0%;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}
.container
{
  height: 100vh;
  width: 100vw;
}


/*/////////////////////////////////////////////-------HEADER--------------------------------*/
.header
{
  background-color: #efeff1;
  display: flex;
  justify-content: space-around;
  /* width: 100%; */
  padding: 10px;
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;

}
.header-img
{
  width: 20px;
  /* justify-content: center; */
  padding: 0 5px;
}
.header div
{
  display: flex;
  
  justify-content: center;
  color: #626264;
}


/*/////////////////////////////////----------NAV-------------------///////////////////////////////////*/
.nav{
  border-bottom: 1px solid gray;
  padding: 10px;

}
.row1
{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
.nav-img
{
  margin-left: 2%;
}
.num{
  color: #727272;
  font-size: 2rem;
  font-weight: 800;
  margin-right: 2%;
}
.menu
{
  width: 20px;
  display: none;
}
.row2
{
  display: flex;
  justify-content: center;
}

.row2 p
{
  padding: 10px;
  color: #707070;
  font-weight: 600;
  margin-right: 2%;
}
.button
{
  background-color: #fb8706;
  color: white !important;
}

/*////////////////////////////////////------------CONTACT-US--------------------////////////////////////////////////////////////*/
.contactus
{
  border: 2px solid black;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: #efeff1;
  padding: 0 3%;
}
.curow1
{
  display: flex;
  flex-direction: column;
  border: 1px solid red;

}
.curow2
{
  border: 1px solid blue;
}







@media  only screen and (max-width: 700px) {
  .row2{
    display: none;
  }
  .menu{
    display: block;
  }
}
