
body
{
  padding: 0;
  margin: 0%;
}
.container
{
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
}



/*/////////////////////////-----------------NAV---------------------------/////////////////////////////////////*/
.nav{
  text-align: center;
  flex: 100%;
  padding: 10px;
  background-color: #537A5A;
  border: 2px solid green;
}
.profileImg
{
  width: 100px;
  border-radius: 50%;
}
.links
{
  display: flex;
  flex-direction: column;
  margin: 10px 50px;
}
.links a
{
  text-decoration: none;
  padding: 10px;
  font-size: 1.5rem;
  color: black;
}
.links a:hover{
  background-color: #9AE19D;
}



/*/////////////////---------------------------MAIN-----------------///////////////////////////////////////////////*/
.main
{
  height: 50%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#objective
{
  display: none;
}
#accom
{
  display: none;
}
#education
{
  display: none;
}
#exp
{
  display: none;
}
#skills
{
  display: none;
}
#interests
{
  display: none;

}

#objective:target{
  display: block;
  padding: 1em 1em;
  font-size: 1.5rem;
}
#accom:target{
  display: block;
  padding: 1em 1em;
  font-size: 1.5rem;
}
#education:target{
  display: block;
  padding: 1em 1em;
  font-size: 1.5rem;
}
#exp:target
{
  display: block;
  padding: 1em 1em;
  font-size: 1.5rem;
}
#skills:target{
  display: block;
  padding: 1em 1em;
  font-size: 1.5rem;
}
#interests:target
{
  display: block;
  padding: 1em 1em;
  font-size: 1.5rem;
}







@media  (min-width: 850px) {
  .container{
    flex-wrap: nowrap;
  }
  .main{
    flex: 70%;
    display: block;
    padding: 10% 10%; 
    /* height: 100%; */
  }
  .nav{
    flex: 30%;
    position: sticky;
  }
}
