*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body{
  margin: 0px;
}
.header{
  display:flex;
  justify-content: space-between;
  background-color: #efeff1;
  width:100%;
  padding: 10px;
  border :1px solid black;
}
.navbar{
margin-top: 10px;
}
.shopping img{
  width:20px; 
}
.Signin img{
  width:20px; 
}
.shopping{
  padding: 0px 10%;
  display: flex;
  align-items: center;
}
.Signin{
  padding-right:10% ;
  display: flex;
  align-items: center;
}
.nav1{
  display:flex;
  justify-content: space-between;
}
.logo{
  padding: 0px 10%;
}
.number{
  padding-top: 30px;
  padding-right: 10%;
  text-align: center ;
  color: #717171  ;
}
.nav2{
  margin: 20px 10%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.nav2 a{
  text-decoration: none;
  color:#575757;
  padding :10px;  
}
.nav2 a:hover{
  background-color: #fe8300;
  color: white;
}
.formSection{
  margin-top: 20px;
  padding-bottom: 40px;
  display: flex; 
  flex-wrap: wrap;
  justify-content: space-between; 
  background-color: rgba(239,239,241,255);
  
}
.Form1{
  margin-top: 30px;
  padding : 0px 10%;
  width: 45%;
}
.Form2{
  padding-top: 2%;
  padding-right: 10%;
  justify-content: center;
}
input{
  margin: 10px;
  padding:10px;
  background-color: rgba(239,239,241,255);
  border: 1px solid grey;
  border-radius: 10px;
}
textarea{
  margin: 15px;
  padding:10px;
  background-color: rgba(239,239,241,255);
  border: 1px solid grey;
  border-radius: 10px;
  width: 400px;
}

.FormButton{
  padding: 10px;
  background-color: #ff8800;
  border-radius: 10px;
  border: 0px;
  color: white;
  width: 150px;
}
.FormButton2{
  padding: 10px;
  background-color: #ff8800;
  border-radius: 10px;
  border: 0px;
  color: white;
  width:100%;
}
button:hover{
  background-color: #ff8800;
}
.bluediv{
  display: flex;
  flex-wrap: wrap;
  margin-top: 2px;
  justify-content: space-between;
  background-color: #209bde;
  padding-bottom: 20px;
}
.bluediv1{
  padding: 20px 10%;
  padding-bottom: 20px;
  width: 60%;
}
.bluediv2{
  padding-top: 4%;
  padding-right: 10%; 

}
.Bluebutton2{
  background-color: white;
  color: #209bde;
  border: #209bde;
  padding:10px;
  border-radius: 0px;
}
.VideoDiv{
  display: flex;
  flex-wrap: wrap;
  background-color:#efeff1;
  padding-top: 40px;
}
.VideoDiv1{
  padding:0px 10%;
  width: 60%;
  height: 400px;
}
.VideoDiv2{ 
  padding-right: 10%;
  width:40%;
}
#videobutton{
  padding: 10px;
  background-color: #ff8800;
  border: 0px;
  color: white;
  width: 150px;
  border-radius:0px;
  margin-top: 30px;
  stroke-width: 10px;
}
.CardDiv{
  display:grid;
  grid-template-columns: auto auto auto;
  padding:40px 10%;
}

.CardDiv1{
  padding: 0px 10%;
}
.CardText{
  width:100%;
}
.projectButton{
  border-radius:0px;
  background-color: #fe8300;
  padding: 10px;
  color:white;
  border: #fe8300;
  margin-top: 30px;
  stroke-width: 10px;
}
.CardButton{
  display: flex;
  justify-content: center;
}
footer{
  margin-top: 40px;
  padding: 0 10%;
  background-color: hsl(0, 0%, 58%);
  display: flex;
  flex-wrap: wrap;
  padding-top:40px;
  padding-bottom: 40px;
  justify-content: space-between;
}

.footerdiv {
  text-decoration: none;
  display: grid;
  grid-template-rows: auto;
}
.footerdiv a{
  color: white;
  margin: 5px;
  text-decoration: none;
}

.copyright{
  background-color: #707070;
  display: flex;
  justify-content:center;
  padding:20px;
}

@media screen and (min-width:320px) and (max-width:824px) {
  .CardDiv{
      display:grid;
      grid-template-columns: auto;
      padding-top: 40px;
      place-items: center;
  }
  .CardDiv1{
      padding: 10% 0px 0px 10px; 
      width:80%;
  }
  .CardText{
      width:100%;
  }
  .CardImg img{
      width: 100%;
  }
  .copyright h3{
      font-size: 13px;
  }
  .VideoDiv1{
      padding:10% 10%;
      width: 100%;
      height: 400px;
  }
  .VideoDiv2{ 
      padding:10%;
      width:100%;
  }

  .Form1{
      margin-top: 30px;
      padding : 0px 10%;
      width: 100%;
  }
  .Form2{ 
      padding: 2% 10%;
      display: flex;
      justify-content: center;
  
  }
  .bluediv1{
      padding: 20px 10%;
      padding-bottom: 20px;
      width: 100%;
  }
  .bluediv2{
      padding-top: 4%;
      padding-left: 20%;

  }
  footer{
      display: grid;
      grid-template-columns: auto auto;
  }
  #videobutton{
      padding: 10px;
      background-color: #ff8800;
      border: 0px;
      color: white;
      width: 150px;
      border-radius:0px;
      margin-top: 30px;
      margin-left: 40px;
      stroke-width: 10px;
  }
  .Bluebutton2{
      background-color: white;
      color: #209bde;
      border: #209bde;
      padding:10px;
      margin-left: 40px;
      border-radius: 0px;
  }
  .projectButton{
          border-radius:0px;
          background-color: #fe8300;
          padding: 10px;
          color:white;
          border: #fe8300;
          stroke-width: 10px;
  }
  textarea{
      margin: 15px;
      padding:10px;
      background-color: rgba(239,239,241,255);
      border: 1px solid grey;
      border-radius: 10px;
      width: 200px;
  }
}

@media screen and (min-width:768px) and (max-width:824px) {
  footer{
      display: grid;
      grid-template-columns: auto auto auto;
  }
  .Bluebutton2{
      background-color: white;
      color: #209bde;
      border: #209bde;
      padding:10px;
      margin: opx;
      border-radius: 0px;
  }
  .VideoDiv1{
      padding:0px 10%;
      width: 100%;
      height: 400px;
  }
  .VideoDiv2{ 
      padding-top:5px ;
      width:100%;
  }
  textarea{
      margin: 15px;
      padding:10px;
      background-color: rgba(239,239,241,255);
      border: 1px solid grey;
      border-radius: 10px;
      width: 400px;
  }
  .CardDiv{
      display:grid;
      grid-template-columns: auto ;
      place-items: center;
      padding:40px 10%;
  }
  
  .CardDiv1{
     width: 80%;
      
  }
  .CardImg img{
      width: 90%;
  }
  .CardText{
      width:80%;
  }
  .nav2{
      margin: 20px 10%;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between; 
  }
}
